<h1 class="issue-title">{{issue.title}}</h1>
<h2 class="issue-subtitle">{{issue.movieTitle}}</h2>
<p class="issue-content">{{issue.description}}</p>
<p class="issue-content">{{issue.date}}</p>
<!-- Buttons -->
<a href="/issues/{{issue._id}}/edit" class="btn btn-outline-primary button-custom"><i class="far fa-edit"></i> Edit</a>
<form method="POST" action="/issues/{{issue._id}}?_method=DELETE">
    <button type="submit" class="btn btn-outline-primary button-custom"><i class="far fa-trash-alt"></i> Delete</button>
</form>
<a href="/" class="btn btn-outline-dark button-custom"><i class="fas fa-home"></i> Home</a>
