<p class="title-header"><i class="fas fa-spa"></i></p>
<a href="/issues/new" class="btn btn-outline-secondary button-custom"><i class="fas fa-plus-circle"></i> New Issue</a>

    {{#each issues}}
      <p class="issue-item"><a href="/issues/{{this._id}}">{{this.title}}</a>
      <small><strong>{{this.movieTitle}}</strong></small></p>
      {{/each}}

  {{#each issues}}
  <b><a class="date" href="/issues/{{this._id}}">{{this.date}}</b>
{{/each}}
